* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.view {
  width: 1200px;
  margin: 0 auto;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button,
input,
select {
  border: none;
  outline: none;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}